<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887601279455-ck20hcst8dmavhc5k2t9idjs1kjablk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887601279455-ck20hcst8dmavhc5k2t9idjs1kjablk2</string>
	<key>API_KEY</key>
	<string>AIzaSyCPJ2ESa7ftq_v9VMf9w_l9qCt_cbW54eo</string>
	<key>GCM_SENDER_ID</key>
	<string>887601279455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-flutterchat-ea6de</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutterchat-ea6de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887601279455:ios:68d7ba463d69decd1a946a</string>
</dict>
</plist>